.games-overview {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

#search {
  border: 3px solid blue;
  width: 50%;
  height: 40px;
  margin-top: 20px;
}

.gameTitle {
  color: blue;
}

header {
  display: flex;
  justify-content: center;
}
/*modal card*/
.details-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: yellow;
  color: black;
  padding: 20px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 10px;
  text-align: center;
}
.details-card h2 {
  width: 100%;
  order: 1;
}
.details-card img {
  max-width: 49%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
  order: 2;
}
#modalInfo {
  max-width: 49%;
  order: 3;
}
.details-card > p {
  text-align: left;
  width: 100%;
  height: auto;
  order: 4;
}
#modalButtons {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  order: 5;
}
#mainButtons {
  display: flex;
  justify-content: space-evenly;
  max-width: 79%;
}
#closeModal {
  max-width: 21%;
}
#addToCollection {
  width: 47%;
}
#setCurrentGame {
  width: 47%;
}
@media screen and (min-width: 500px) {
  .games-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .games-overview {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 30px;
  }
}

.game-card {
  background: var(--bg);
  border-radius: 12px;
  overflow: hidden;
  /* zorgt ervoor dat achtergrond de radius behoudt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* zorgt ervoor dat de afbeelding de container vult */
}

.game-info {
  padding: 15px;
}

.game-info h3 {
  margin: 0 0 10px 0;
  color: var(--primary-color);
}

.game-info p {
  margin: 5px 0;
  color: var(--primary-color);
  font-size: 0.9rem;
}
