.games-overview {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

aside {
  background-color: black;
  height: 100vh;
  position: sticky;
  top: 0vh;
}

.reset-filters {
  margin-left: 0;
}

.apply-filters {
  margin-left: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-section ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 0;
}

.filter-section li {
  margin-bottom: 0.5rem;
}

.filter-section label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-section input[type="checkbox"] {
  width: auto;
  height: auto;
  margin: 0;
  cursor: pointer;
}

label > input {
  height: 1rem;
}

#search {
  border: 3px solid blue;
  width: 50%;
  height: 40px;
  margin-top: 20px;
}

.gameTitle {
  color: blue;
}

header {
  display: flex;
  justify-content: center;
}
/*modal card*/
.details-card {
  background: yellow;
  color: black;
  padding: 20px;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 10px;
  text-align: center;
}

.details-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .games-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .games-overview {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 30px;
  }
}

.game-card {
  background: var(--bg);
  border-radius: 12px;
  overflow: hidden;
  /* zorgt ervoor dat achtergrond de radius behoudt */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* zorgt ervoor dat de afbeelding de container vult */
}

.game-info {
  padding: 15px;
}

.game-info h3 {
  margin: 0 0 10px 0;
  color: var(--primary-color);
}

.game-info p {
  margin: 5px 0;
  color: var(--primary-color);
  font-size: 0.9rem;
}
