/* Guess game page specific styles */

/* Computer screen*/

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


.guess-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
}   

.image img{
    border-radius: 10px;
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
}


label {
    margin-left: 0;
    display: contents;
}

input {
    border: 1px solid black;
    width: 100%;
    margin-left: 0;
}

.knoppen {
    display: flex;
}

button {
    margin-left: 0;
}

.geraden {
    background-color: gray;
}

@media screen and (max-width: 768px) {
    .guess-game {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .image {
        margin-bottom: 1rem;
        filter: blur(10px);
    }

    label {
        border: 1px solid red;
        width: 20vw;
        display: contents;
    }

    .knoppen {
        width: 90%;
        gap: 5vw;
    }
}