.projects {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    padding: 16px;
}

.project img {
    width: 100%;
}

.project-info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.project-btn {
    padding: 10px 50px;
    border-radius: 12px;
    background: var(--button);
    color: black;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid rgb(130, 0, 245);
    box-shadow: 0px 0px 9px 1px black;
    cursor: pointer;
}

.project-btn:hover {
    background: var(--button-hover);
}

@media (min-width: 768px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
        box-sizing: border-box;
    }

    body {
        height: 100vh;
        display: grid;
        align-items: center;
    }





}