.projects {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  padding: 16px;
}

.project img {
  width: 100%;
}

.project-info {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: var(--button);
  height: 94.1px;
  margin-top: 10px;
  padding: 0px 12px 12px;
  border-radius: 24px;
}
.project-info > h3 {
  height: 18.6667px;
}
.project-btn {
  padding: 10px;
  border-radius: 12px;
  background: var(--button);
  color: black;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 0px 9px 1px black;
  cursor: pointer;
}

.project-btn:hover {
  background: var(--button-hover);
}

p {
  padding: 10px;
  margin: 0px;
  border-radius: 12px;
  background: var(--button);
  color: black;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 0px 0px 9px 1px black;
}
p:hover {
  background: rgba(71, 71, 71, 1);
}
/* Computer screen*/
@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    display: grid;
    align-items: center;
  }
}
